{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
    <li class="pagination__buttons">
        {{ if .PrevInSection }}
        <ul class="button next bouncy" role="button">
            <a href="{{ .PrevInSection.Permalink }}">
                <span class="button__icon">←</span>
                <span class="button__text">{{ .PrevInSection.Title }}</span>
            </a>
        </ul>
        {{ end }}
        {{ if .NextInSection }}
        <ul class="button previous bouncy" role="button">
            <a href="{{ .NextInSection.Permalink }}">
                <span class="button__text">{{ .NextInSection.Title }}</span>
                <span class="button__icon">→</span>
            </a>
        </ul>
        {{ end }}
    </li>
</div>
{{ end }}
