<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
        {{ template "_default/section.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recentNotes.html" . }}
        {{end}}
        <div class="meta">
            <h3><a href="/notes">Read more...</a></h1>
        </div>
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
